@import '../../workflow.scss';

se-page-workflow-menu {
    .toolbar-action {
        .page-tasks-btn {
            &[aria-expanded='true'] {
                background-color: se-color-state('selected');
            }

            &__label {
                font-size: 14px;
                color: var(--sapTextColor);
            }

            &__icon {
                color: $workflow-action-color;
                font-size: 18px;
                margin-right: 8px;
            }
        }
    }
}
.se-page-workflow-menu-body {
    &-content {
        @include se-dropdown-menu('center');
        min-width: 350px;
        min-height: 130px;
        right: -126px;
        left: auto;
        font-size: $se-font-size;
        line-height: $se-line-height;

        &__header {
            display: flex;
            justify-content: space-between;

            &-text {
                font-size: 16px;
                padding: 20px 0 0 16px;
            }

            &-menu {
                padding: 16px 16px 0 0;
            }
        }
    }

    &__tabs {
        .se-tabset {
            margin: 0;
            padding: 0 !important;

            &__tab {
                margin-left: 16px !important;
            }
            &__link {
                color: $workflow-text-color;
                &:hover {
                    color: $workflow-action-color;
                }
            }
        }
    }
}
