.se-restrictions-container__header {
    @include se-flex-row(space-between);
    border-bottom: se-border();
    padding-bottom: se-space('xs');

    &--right {
        @include se-flex-row();
        > span,
        > div {
            margin-left: se-space('xs');
            margin-right: 16px;
            width: 125px;
        }
    }
    &--empty {
        border-bottom: none;
    }
}

.se-restrictions__sub-header {
    @include se-weight('bold');
    align-self: flex-start;
    color: var(--sapNeutralColor);
    margin: 0;
}

.se-restriction__clear-all__btn {
    text-transform: capitalize;
}
