.se-pagination {
    .fd-pagination__link[aria-selected='true'] {
        color: var(--sapShell_Navigation_Background);
    }

    .fd-pagination__link {
        transform: none;
        font-weight: 600;
        padding: 10px 15px;

        &--previous,
        &--next {
            &:before {
                font-weight: 900;
                font-size: 7px;
            }
        }
    }
}
